* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family:'Roboto', sans-serif
}

/* UTILITIES  */

li { 
    display:inline-block;
    padding:0px 5px;
}


/* HEADER */
header {
    background-color: #f8f9fa;
    height:70px;
}

header #logo_mobile {
    width:45px;
}

header li:last-child {

}

/* SIDEBAR  */
.sidebar { 
    position:fixed;
    bottom:0;
    height:calc(100vh - 70px);
    background-color: #0e263c;
    background-image: url('../img/sidebar-bg.png');
    width:200px;
}

.sidebar_mobile { 
    position:fixed;
    bottom:0;
    height:calc(100vh - 70px);
    background-color: #0e263c;
    background-image: url('../img/sidebar-bg.png');
    width:70px;
}

.sidebar_top, .sidebar_bottom {
    width:100%;
}

/* MAIN  */
.main_all {
    width:calc(100vw - 200px);
    position:absolute;
    right:0;
    top:70px;
}
.main_top {
    background-color: #1b72e8;
}

.main_top .content {

}


@media screen and (max-width:991px) {
    .main_all {
        width:calc(100vw - 70px);
    }
}