* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family:'Roboto', sans-serif
}

/* UTILITIES  */


/* HEADER */
header {
    background-color: #f8f9fa;
    height:70px;
}

/* SIDEBAR  */
.sidebar { 
    position:fixed;
    bottom:0;
    display:flex;
    height:calc(100vh - 70px);
    background-color: blue;
    width:200px;
}

.sidebar_top, .sidebar_bottom {
    background-color:green;
    width:100%;
    height:150px;
}

/* MAIN  */